.header {
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    }
.header-logo {
    margin-right: 93px;

}
.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}
.header-container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.list {
    display: flex;
    margin-left: auto;
    list-style: none;
    font-weight: 500;
    justify-content: space-evenly    ;
    align-items: center;

  }
  
.header-logo {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
}
.header-logo-web {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color); 
    
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--header-color);
    display: block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        color: #2196F3;
    }
}
.current {
    color: #2196F3;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 5px;
        border-radius: 3px;
        position: absolute;
        background-color: #2196F3;
        left: 0;
        bottom: -32px;
    
    }
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: flex;  
    align-items: center;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        color: #2196F3;
    }
    &:hover .header-mail,
    &:focus .header-mail {
        fill: #2196F3;
    }
}
.header-tel:last-child {
    margin-left: 50px;
}

.header-contacts {
    margin-left: auto;
    display: flex;    
}

.header-mail {
    align-items: center;
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}