.hero {
    background-color:#2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding-top: 200px;
    
}
.hero-container {
    text-align: center;
    
}
.list-btn {
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    @extend %align-list; 
    justify-content: center;
    
}

.hero-portfolio {
    padding-top: 94px;
    padding-bottom: 50px;
    background-color: white;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-color);
    max-width: 696px;
    margin: auto;   
}

.hero-btn {
    font-family: inherit; 
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-color);
    background: #2196F3;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
    
}
.hero-list-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background: #F5F4FA;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;
    display: inline-block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        color: var(--btn-color);
        background: #2196F3;
    }
}