.about-team {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-bottom: -30px;    
}

.about-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.about-item-name {
    padding-top: 30px;
    padding-bottom: 10px;
}

.about-item-img {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #ffff;
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.about-item-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.about-item-profession {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
}
.about-item-content {
    margin-bottom: 30px;
}
.about-team-social-list {
    display: flex;
    justify-content: center;
}
.about-team-social-item {
    & + & {
    margin-left: 10px;
    }
}
.about-team-social-link {
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        background-color: #2196F3;
    }
    &:hover .about-team-social-icon,
    &:focus .about-team-social-icon{
        fill: #FFFFFF;
    }
}
.about-team-social-icon {
    fill: #AFB1B8;
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}